.App-header {
  background-color: rgb(64, 17, 17);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  text-align: center;
  font-size: larger;
  font-family: cursive;
}

.App {
  background-color: rgb(167, 125, 70);
}



